{{ partial "layouts/default.begin.html" . }}

<body data-spy="scroll" data-target="#toc">
  {{ partial "header.html" . }}
  <div class="container">
  <div class="row">
    <div class="col-md-3 col-md-push-9 aside hidden-print">
      {{ partial "article-sidebar.html" . }}
    </div>
    <div class="col-md-9 col-md-pull-3">
      <div class="heading">
        <h1>{{ .Title }}</h1>
        {{ if isset .Params "subtitle" }}
          <p class="subtitle">{{ index .Params "subtitle" }}</p>
        {{ end }}
        <div class="meta">
          {{ partial "article-meta.html" . }}
        </div>
      </div>
      <article class="readable" id="main-article">
        {{ .Content }}
      </article>
      <div class="row article-nav">
        {{ if .Prev }}
          <div class="col-sm-6 text-left">
            &laquo;
            <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
          </div>
        {{ end }}
        {{ if .Next }}
          <div class="col-sm-6 text-right">
            <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
            &raquo;
          </div>
        {{ end }}
      </div>
      {{ partial "disqus.html" . }}
      {{ partial "footer.html" . }}
    </div>
  </div>
  </div><!-- .container -->
</body>
